
####################################################################
[ ca ]
default_ca	= CA_root		# The default ca section

####################################################################
[ CA_root ]

dir		= /home/bob/ITSP/Aufgabe2/ca_scripts/apacheCA		# Where everything is kept
ssldir		= /home/bob/ITSP/Aufgabe2/ca_scripts/apacheCA/sslCA
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl			# Where the issued crl are kept
database	= $dir/index.txt		# database index file.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $ssldir/sslCA.crt 	# The CA certificate
serial		= $ssldir/sslCA.srl		# The current serial number
crl		= $dir/clr/crl.pem 		# The current CRL
private_key	= $ssldir/sslCA.key	# The private key
RANDFILE	= ~/.rnd	# private random number file

default_md       = sha256
default_days     = 28
default_crl_days = 28

policy           = policy_anything
crl_extensions   = crl_ext
x509_extensions  = srv_cert
copy_extensions  = copy

[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional



[ crl_ext ]
authorityKeyIdentifier = keyid:always,issuer:always

[ srv_cert ]
# Extensions for client certificates (`man x509v3_config`).
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = nonRepudiation, digitalSignature #, keyEnciphermen
