!!! 5
html(lang='de')
	head
		title ITSP Authentifizierung
	body
		h1 Bitte gib ein neues Passwort ein.
		- each message in flash
			h4(style="color: red;") #{message}
		form(action='/new_password', method='post')
			p
				label(for='password') Passwort  
				input(type='password', name='password')
			input(type='submit', value='Update Passwort')
		
